#home {
  background: linear-gradient(
    308.45deg,
    rgba(163, 203, 251, 0.252) -48.78%,
    rgba(54, 127, 178, 0.236) -48.77%,
    rgba(15, 66, 117, 0.4) 28.12%
  );
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 88vh;
}

#cloth-img img {
  margin-top: 5vh;
  width: 26.3vw;
  height: 76.11vh;
}

.btn {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.btn button {
  margin-right: 1vw;
  width: 100px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  font-family: "Quicksand";
  color: #ffffff;
  font-size: 2vh;
  background: transparent;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 3vh;
}

.box h1 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 6vh;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.btn button:hover {
  background-color: #367fb2;
}

@media (max-width: 800px) {
  #home {
    height: 95vh;
    width: 108%;
  }
  .btn button {
    width: 94px;
    height: 43px;
  }
  #cloth-img img {
    margin-top: -9vh;
    width: 47.3vw;
  }
  .box h1 {
    font-size: 5vh;
  }
}

@media (max-width: 550px) {
  #home {
    height: auto;
    width: 108%;
  }
  #cloth-img img {
    margin-top: 0vh;
    width: 70.3vw;
  }
}
