/*<-------------------Catalogue-------------------->*/

#cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2vw;
}

/*<-------------------Tiles-------------------->*/

.fles-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vh;
  flex-wrap: wrap;
}

.option-flex p {
  font-style: normal;
  font-weight: 700;
  font-size: 4vh;
  line-height: 3vh;
  letter-spacing: 0.06em;
  color: #000000;
}

.btn-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.btn-flex button {
  cursor: pointer;
  margin-right: 2vw;
  margin-top: 2vh;
  width: 6vw;
  height: 6vh;
  border: 1.5px solid #000000;
  border-radius: 1.2vh;
  background-color: #ffffff;
  color: #000000;
}

.btn-flex button:hover {
  background-color: #367fb2;
  color: white;
}

#size {
  text-align: left;
}

#surface {
  text-align: center;
}

#color {
  margin-right: 2vw;
  text-align: right;
}

.line {
  width: 12vh;

  border: 0.7px solid #000000;
  transform: rotate(90deg);
}

#tiles-container {
  width: 85.59vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 4px 63px rgba(0, 0, 0, 0.25);
  border-radius: 1vw;
  margin-top: 7vh;
}

#tiles-image img {
  width: 85.59vw;
  border-radius: 1vw 1vw 0px 0px;
}

#tiles-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tile-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2vh;
}

.btn-tile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.btn-tile button {
  cursor: pointer;
  align-items: flex-start;
  width: 9vw;
  height: 6vh;
  margin: 1vw;
  background: #83b9d3;
  color: white;
  border-radius: 60px;
}

#tile-text p,
h3 {
  color: black;
}

#tile-text p {
  font-size: 2vh;
}

#tile-text h3 {
  font-size: 5vh;
}

#text-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#side-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  align-items: center;
}

#side-flex img {
  height: 2vw;
}

#side-flex div {
  cursor: pointer;
  margin-right: 3vh;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  width: 3.5vw;
  height: 3.5vw;
  background: #ffffff;
  box-shadow: 0px 4px 34px 6px rgba(0, 0, 0, 0.25);
}

/*<-------------------Home-------------------->*/

#home {
  background: linear-gradient(
    308.45deg,
    rgba(163, 203, 251, 0.252) -48.78%,
    rgba(54, 127, 178, 0.236) -48.77%,
    rgba(15, 66, 117, 0.4) 28.12%
  );
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 88vh;
}

#cloth-img img {
  margin-top: 5vh;
  width: 26.3vw;
  height: 76.11vh;
}

.btn {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.btn button {
  margin-right: 1vw;
  width: 100px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  font-family: "Quicksand";
  color: #ffffff;
  font-size: 2vh;
  background: transparent;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 3vh;
}

.box h1 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 6vh;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.btn button:hover {
  background-color: #367fb2;
}

@media (max-width: 800px) {
  #home {
    height: 95vh;
    width: 108%;
  }
  .btn button {
    width: 94px;
    height: 43px;
  }
  #cloth-img img {
    margin-top: -9vh;
    width: 47.3vw;
  }
  .box h1 {
    font-size: 5vh;
  }
}

@media (max-width: 550px) {
  #home {
    height: auto;
    width: 108%;
  }
  #cloth-img img {
    margin-top: 0vh;
    width: 70.3vw;
  }
}
